.img-size {
    max-width: 200px;
}
.dot {
    height: 5px;
    width: 5px;
    background-color: white;
    border-radius: 2.5px;
    margin: auto;
}
.img-container {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* @keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.fade-in {
    opacity: 0;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
} */

/*  @media screen and (max-width: 800px) {
.img-size {
    max-width: 100px;
}
} */