/* 
~~ Colors:
~~ primary: #46709a, secondary: #1b3e6f, third: #fcb900
*/

/* container for the app */
.app {
  background-color: #46709a;
  color: white;
  overflow: auto;
}

/* styles for every section */
.section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  margin: 24px 16px;
}

/* profile styles */
.profile {
  max-width: 500px;
  text-align: center;
}
.profile__img {
  max-width: 200px;
}
.profile__list {
  text-align: left;
  margin-bottom: 24px;
}
.profile__list > li {
  margin-bottom: 10px;
}
.profile__link {
  width: 70px;
}
@media screen and (max-width: 800px) {
  .profile__link {
    width: 50px;
  }
  .profile__img {
    max-width: 150px;
  }
}

/* project info section */
.proj__img {
  width: 100%;
  max-width: 605px; /* original size is 1363 × 848 */
  margin-bottom: 16px;
}
.proj__double {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 16px;
}
.proj__container {
  height: auto;
}
.proj__img--half {
  height: 100%;
  width: 100%;
}
.proj__github {
  height: 30px;
  margin-left: 10px;
}
.proj__title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media screen and (min-height: 1080px) {
  .proj {
    min-height: 1080px; /* don't let project sections get too large */
  }
}

/* all styles for the bullet link list */
.list {
  max-width: 510px;
  width: 100%;
  word-wrap: break-word;
}
.display-inline {
  display: inline-block;
}
.list__github {
  height: 20px;
  margin-left: 10px;
}
.list__text {
  margin: 8px 0;
}