/* 
~~ Colors:
~~ primary: #46709a, secondary: #1b3e6f, third: #fcb900
*/

.App {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #46709a;
  color: white;
  overflow: auto;
}

.profile {
  text-align: center;
  max-width: 500px;
}
.profile__img {
  max-width: 200px;
}
.profile__list {
  text-align: left;
  margin-bottom: 22px;
}
.profile__list > li {
  margin-bottom: 10px;
}
.profile__link {
  width: 70px;
}

.container {
  margin: auto;
  display: flex;
  flex-direction: row;
  min-width: 800px;
  min-height: 100vh;
  
}
.panel {
  display: flex;
  align-items: center;
  justify-content: center;
}
.left {
  padding-left: 20px;
}
.right {
  padding-right: 20px;
}
.panel__button {
  width: 100px;
  height: 100px;
}
.carousel {
  padding: 0 20px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.slide {
  width: 100%;
  max-width: 840px; /* original size is 1400x935 */
}
.slide-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.slide-container {
  height: auto;
}
.slide-container__half {
  height: 100%;
  width: 100%;
}
.slide__github {
  height: 30px;
  margin-left: 10px;
}
.slide__title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* all styles for the bullet link list */
.list {
  max-width: 510px;
  width: 100%;
  word-wrap: break-word;
}
.display-inline {
  display: inline-block;
}
.list__github {
  height: 20px;
  margin-left: 10px;
}
.list__text {
  margin: 8px 0;
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
    min-width: 320px; /* the smallest size this screen can get */
  }
  .panel {
    width: 100%;
  }
  .panel__button {
    width: 60px;
    height: 60px;
  }
  .left {
    padding: 10px 0 0 0;
  }
  .right {
    padding: 0 0 10px 0;
  }
  .profile__link {
    width: 50px;
  }
  .profile__img {
    max-width: 150px;
  }
}