body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* styling links */
a {
  text-decoration: none;
}
a:link {
  color: #fcb900;
}
a:visited {
  color: #1b3e6f;
}
a:hover {
  color: white;
}
a:active {
  color: #1b3e6f;
}