/* font */
@font-face {
  font-family: 'Noah-Regular';
  src: url('/fonts/Noah/Noah-Regular.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Noah/Noah-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Noah/Noah-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/Noah/Noah-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/Noah/Noah-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Noah-Bold';
  src: url('/fonts/Noah/Noah-Bold.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Noah/Noah-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Noah/Noah-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/Noah/Noah-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/Noah/Noah-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/* global styles */
body {
  margin: 0;
  font-family: 'Noah-Regular', bely-display, sans-serif;
}
h1 {
  font-family: 'Noah-Bold', bely-display, sans-serif;
  font-size: 3em;
  margin: 0;
}
h2 {
  font-family: 'Noah-Bold', bely-display, sans-serif;
  font-size: 2em;
  margin: 0;
}
p {
  margin: 8px 0;
}
@media screen and (max-width: 320px) {
  h1 {
    font-size: 2.5em;
  }
}

/* link styling */
a {
  text-decoration: none;
}
a:link {
  color: #fcb900;
}
a:visited {
  color: #fcb900;
}
a:hover {
  color: black;
}
a:active {
  color: #1b3e6f;
}